<%- include("header",{header:header,whomToLogin:whomToLogin,name:name,email:email}) -%>
<br><br><br>
    <div class="wrapper">
        <div class="title">
            Change Password
        </div>
        <form action="/changePassword/<%=whomToLogin%>/<%=email%>" method="POST">
            <div class="field">
                <input type="password" required name="currentPassword">
                <label>Current Password</label>
            </div>
            <div class="field">
                <input type="password" required name="password">
                <label>New Password</label>
            </div>
            <div class="field">
                <input type="password" required name="confirmPassword">
                <label>Confirm Password</label>
            </div>
            <div class="field">
                <input type="submit" value="Change Password">
            </div>
        </form>
    </div>

<%- include("footer") -%>