<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style.css">
  <title>Reset Password</title>
</head>
<body>
  <div class="wrapper">
    <div class="title">Reset Password</div>
    <form action="/resetPassword" method="POST">
      <div class="field">
        <input type="email" required name="email" readonly>
        <label><%= emailAddress %></label>
      </div>
      <div class="field">
        <input type="text" required name="otp">
        <label>OTP</label>
      </div>
      <div class="field">
        <input type="password" required name="password">
        <label>Password</label>
      </div>
      <div class="field">
        <input type="password" required name="confirmPassword">
        <label>Confirm Password</label>
      </div>
      <div class="field">
        <input type="submit" value="Reset Password">
      </div>
    </form>
  </div>
  
<%- include("footer") -%>
